<ng-container *ngIf="data | async; let data">
    <section id="benefits" class="benefits">
      <div class="container">
        <div class="section__background  benefits__background" [innerHTML]="data.benefits.background | safeHTML"></div>
        <div class="row">
          <div class="col-12">
            <div class="heading benefits__heading">
              <h2 class="h-3" [innerHTML]="data.benefits.heading"></h2>
            </div>
          </div>
        </div>
        <div class="benefits__blocks">
          <div class="row">
            <div class="col-xl-4 col-12">
              <div class="benefits__row">
                <ng-container *ngFor="let block of data.benefits.blocks; trackBy: trackByFn let i = index">
                    <ng-container *ngIf="i < 3">
                      <div class="benefits__block">
                        <div class="benefits__icon" [innerHTML]="block.icon | safeHTML"></div>
                        <div class="benefits__info">
                            <h3 class="h-4 heading" [innerHTML]="block.heading"></h3>
                            <p class="t-4" [innerHTML]="block.subheading"></p>
                        </div>
                      </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="col-4 benefits__imgblock">
                <img draggable="false" class="benefits__image" [src]="data.benefits.image" alt="tyre mechanic">
            </div>
            <div class="col-xl-4 col-12">
              <div class="benefits__row">
                  <ng-container *ngFor="let block of data.benefits.blocks; let i = index">
                      <ng-container *ngIf="i > 2">
                        <div class="benefits__block">
                          <div class="benefits__icon" [innerHTML]="block.icon | safeHTML"></div>
                          <div class="benefits__info">
                              <h3 class="h-4 heading" [innerHTML]="block.heading"></h3>
                              <p class="t-4" [innerHTML]="block.subheading"></p>
                          </div>
                        </div>
                    </ng-container>
                  </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
  